################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/FanWay Travel/FileContentIndex/097b137c-58d9-46f3-a143-2298deb0f76b.vsidx
*.vsidx
