################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/FanWay Travel/FileContentIndex/a572a8bc-f627-4145-a1a0-c155655df3f1.vsidx
